
@model PagedList.IPagedList<Department_Store.Models.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="danhmuc">
    @Html.Action("Danhmuc", "Danhmuc")
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="small-container">

                <div class="col-3">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="@item.HinhSP" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.TenSP</h5>
                            <strong>Giá: </strong>@item.GiaSP
                            <br />
                            <strong>Số lượng tồn: </strong>@item.Slgton
                            <p>Ngay nhap: @item.NgayNhap</p>

                            <a class="btn btn-outline-success" onclick="addToCart(@item.MaSP)">Đặt Mua</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
    <div class="MenuTrang ">
        @Html.PagedListPager(Model, page => Url.Action("Home", new { page = page }))
    </div>
</div>
<script type="text/javascript">
    function addToCart(id) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("ThemGioHang", "GioHang")",
            data: { id: id },
            success: function (result) {
                getGioHangPartial();
                if (result.success == true) {
                    {
                        alert(result.message);
                    }
                }
            }
            });
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>

