@model IEnumerable<Department_Store.Models.SanPham>
@{
    ViewBag.Title = "DanhMucSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="danhmuc">
    @Html.Action("Danhmuc", "Danhmuc")
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="small-container">

                <div class="col-3">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="@item.HinhSP" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.TenSP</h5>
                            <strong>Giá: </strong>@item.GiaSP
                            <br />
                            <strong>Số lượng tồn: </strong>@item.Slgton
                            <p>Ngày nhập: @item.NgayNhap</p>


                        </div>
                        <a class="btn btn-outline-success" onclick="addToCart(@item.MaSP)">Đặt Mua</a>
                    </div>
                </div>
                <br />
            </div>
        </div>
    }
</div>