
@model PagedList.IPagedList<Department_Store.Models.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr class="text-center">
        <th>@Html.ActionLink("Sản phẩm", "Index", "Admin", new { area = "" }, new { @class = "nav-link" }) </th>
        <th>@Html.ActionLink("Danh Mục", "DanhMucAdmin", "DanhMuc", new { area = "" }, new { @class = "nav-link" })</th>
    </tr>
</table>

<h2 class="text-center">Sản Phẩm <br />@Html.ActionLink("Thêm sản phẩm", "ThemSP", new { area = "" }, new { @class = "btn btn-primary" })</h2>

<table class="table">
    <tr class="text-center">
        <th> Mã hàng </th>
        <th> Tên hàng</th>
        <th> Giá </th>
        <th> Số lượng tồn</th>
        <th> Hình </th>
        <th> Ngày nhập </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>@Html.DisplayFor(modelItem => item.MaSP)</td>
            <td>@Html.DisplayFor(modelItem => item.TenSP)</td>
            <td>@Html.DisplayFor(modelItem => item.GiaSP)</td>
            <td>@Html.DisplayFor(modelItem => item.Slgton)</td>
            <td><img src="@item.HinhSP" alt="hinh thumbnail" width="75%" height="75%" /></td>

            <td>@Html.DisplayFor(modelItem => item.NgayNhap)</td>
            <td>
                @Html.ActionLink(" ", "SuaSP", new { id = item.MaSP }, new { @class = "bi bi-pen" })|
                @Html.ActionLink(" ", "ThongTinSP", "Store", new { id = item.MaSP }, new { @class = "bi bi-info-lg" })|

                @Html.ActionLink(" ", "XoaSP", new { id = item.MaSP }, new { @class = "bi bi-trash" })
            </td>
        </tr>
    }
</table>
<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>